<style>

.tab {
    text-indent: 5%;
    margin-left: 10%;
    margin-right:10%;
    
}
.idea{
    margin-left:10%;
}


</style>

<article>  
    <h2>Narendra Modi</h2>  
     <i>(Naam to suna hi hoga) </i>  
     <ul class = "idea" style="list-style-type:disc">
        <li>US</li>
        <li>Australia</li>
        <li>New Zealand</li>
     </ul>
     <p class="tab">Narendra DamodarDas Modi is the 15th and current Prime Minister of India,    
     Modi, a leader of the Bharatiya Janata Party (BJP), previously served as the Chief Minister  
     of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi.
     of Gujarat state from 2001 to 2014. He is currently the Member of Parliament (MP) from Varanasi</p>  
   </article>  

